.modal-wrapper {
  z-index: 3000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  transition: all .8s;
  width: 21%;
}

.modal-section {
  width: 60%;
  margin: 0 auto;
}
.modal-image {
  width: 140px;
}
.modal-header {
  background: #e2e2e2;
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}

.modal-cover {
  z-index: 2000;
  position: absolute;
  top: 0;
  background: hsl(230deg 100% 3% / 33%);
  height: 119%;
  width: 100%;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.modal-footer {
  height: 35px;
  padding: 15px;
}

.modal-image-box {

}

.close-modal-btn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
}

.close-modal-btn:hover {
  color: black;
}

.btn-cancel {
  background-color: #b71c1c;
  float: left;
}

.btn-continue {
  background-color: #1b5e20;
  float: right;
}

.back-shed {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
}