.header {
  height: 125px;
  background: #ffffff;
  box-shadow: 0 -1px 11px 3px #ccc;
}

.header-container {
  position: relative;
  height: 100%;
}

.navbar-content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

.navbar {
  display: flex;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 10px 17px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 15px;
  white-space: nowrap;
  font-weight: 600;
}

.navbar a.menu:after {
  content: "";
  position: absolute;
  top: 43%;
  margin-left: 7px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.alert-count {
  border-radius: 50%;
  background: #ee386f;
  color: wheat;
  padding: 1px 5px;
  font-size: 11px;
}

.navbar a:hover {
  border-bottom: 2px solid #ee386f;
  color: black;
}

.navbar a.active {
  border-bottom: 2px solid #ee386f;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 750px) {
  .navbar {width: 100%}
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    display: block;
    margin-left: auto;
  }
  .navbar-content {
    width: 100%;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
