.steps {
  padding: 19px 0 50px 0;
  box-shadow: 0 1px 11px #ccc;
  width: 100%;
}

.step-info {
  position: absolute;
  margin-top: 10px;
  top: 24px;
  font-size: 11px;
}

.step-big-pointactive {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #f58bab;
 }

.step-little-pointactive {
  background: #ee386f;
  border-radius: 50%;
  width: 16px;
  z-index: 1000;
  height: 16px;
  display: inline-block;
}

.step-big-point {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #eeeeee;
}

.step-little-point {
  border-radius: 50%;
  width: 16px;
  z-index: 1;
  height: 16px;
  display: inline-block;
  background: #d1d1d1;
}

.step-info span {
  font-weight: 700;
}

.steps-line-gray {
  width: 98%;
  height: 7px;
  top: 40%;
  background: #eeeeee;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.steps-line-ping {
  margin-left: 3px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  height: 7px;
  top: 40%;
  background: #f58bab;
  left: 0;
  transition: width 1s ease-out;
}
