table.hover-table {
  margin-top: 40px;
  border-collapse: collapse;
  width: 100%;
}

td p {
  margin-top: 0;
  font-size: 15px;
}

table.vendor-table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

.table-text-content {
  max-width: 396px;
  padding-left: 10px;
}

tbody img {
width: 80px;
height: 85px;
border-radius: 10px;
  box-shadow: 0 0 13px 0 #00000073;
}

table.hover-table th {
font-size: 11px;
font-weight: 500;
}

table.hover-table tr {
border-bottom: 1px solid #e1e6e4;
}

table.vendor-table tr {
border-bottom: 1px solid #e1e6e4;
}


table.hover-table th, table.hover-table td {
padding: 23px 15px 23px 4px;
text-align: left;
font-weight: 500;
}

table.hover-table tr:last-child {
border: none;
}

tr:hover {background-color:#f5f5f5;}

table.vendor-table th, table.vendor-table td {
padding: 17px 0 17px 4px;
text-align: left;
font-weight: 500;
}

.table-content {
width: 90%;
padding-right: 20px;
margin-left: auto;
}