input[type=text] {
  padding: 10px;
  border-radius: 13px;
  border: 1px solid #80808045;
}

.to-right {
  margin-left: auto;
}

.btn-bg-ping {
  background: #ee386f;
}

.btn-bg-green {
  background: #009e89;
}

.btn-ping {
  color: #ee386f;
  border: 1px solid #ee386f;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 13px;
  cursor: pointer;
  padding: 7px 55px;
}

.btn-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 13px;
  cursor: pointer;
  padding: 7px 42px;
}

.btn-primary {
  border: none;
  color: white;
  border-radius: 20px;
}
.btn-box {
  margin-top: 25px;
}
.btn-link {
  background: #fff;
  border-radius: 20px;
}

label {
  font-size: 9px;
}

select {
  color: #80808045;
  appearance: none;
  padding: 10px;
  border-radius: 13px;
  border: 1px solid #80808045;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=''] {
  color: #999999;
}

label {
  margin-bottom: 3px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-arrow {
  position: absolute;
  top: 61%;
  right: 8px;
  border: solid #D1D1D1;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #D1D1D1;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}