body {
  background: #F6FBF9;
  width: 100%;
  min-height:100vh;
  background-size: cover;
}

.mr-2 {
    margin-right: 14px;
}
.ml-2 {
    margin-left: 14px;
}
.mt-3 {
    margin-top: 32px;
}

.mt-2 {
    margin-top: 19px;
}
.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    margin-top: 23px;
    width: 28%;
    margin-right: 42px;
}

.form-control-big {
    margin-top: 23px;
    width: 46%;
    margin-right: 25px;
}

.container {
  margin: 45px auto;
  width: 72%;
  height: 100%;
  background: #ffffff;
    box-shadow: 0 1px 11px #ccc;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.section {
    width: 84%;
    margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.d-flex-vertical-center {
    display: flex;
    align-items: center;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-absolute-full-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.d-flex-horizontal-center {
    display: flex;
    align-items: center;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-alert {
    color: hsla(359,98%,58%,1);
    margin-top: 30px;
    border: solid 1px;
    border-radius: 7px;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
        width: 100%;
    }
}